Django==5.0.2
django-environ==0.12.0

google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
httplib2==0.22.0
oauthlib==3.2.2
requests-oauthlib==2.0.0
requests==2.31.0
